<CodeSnippet Format="1.0.0">
	<Header>
		<Title>New Method</Title>
		<Shortcut>22</Shortcut>
		<Description>Code snippet for creating a new method</Description>
		<Author>Your Name</Author>
	</Header>
	<Snippet>
		<Declarations>
			<Literal>
				<ID>returnType</ID>
				<ToolTip>Return type of the method</ToolTip>
				<Default>void</Default>
			</Literal>
			<Literal>
				<ID>methodName</ID>
				<ToolTip>Name of the method</ToolTip>
				<Default>MyMethod</Default>
			</Literal>
			<Literal>
				<ID>parameters</ID>
				<ToolTip>Parameters for the method</ToolTip>
				<Default></Default>
			</Literal>
			<Literal>
				<ID>return</ID>
				<ToolTip>Parameters for the method</ToolTip>
				<Default>int</Default>
			</Literal>
		</Declarations>
		<Code Language="csharp">
			<![CDATA[
        public $returnType$ $methodName$($parameters$)
        {
            return $return$
        }
      ]]>
		</Code>
	</Snippet>
</CodeSnippet>